.content{
    position: absolute;
    width: 1100px;
    height: 1000px;
    left: 240px;
    top: 75px;
    background:whitesmoke;
	-webkit-border-radius:10px;
	border:none;
	box-sizing:border-box;
    padding-bottom: 20px;
}
.title{ 
    position:relative;
    top:0%;
    text-align: center;
    background:rgba(196, 196, 196, 0.6);
    border-radius:15px;
    padding: 10px;
    font-weight: bold;
}
.content .inner-main{
    position: absolute;
    width: 785px;
    height: max-content;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    padding-bottom: 20px;
}

.content .inner-main .box1,
.content .inner-main .box2,
.content .inner-main .box3,
.content .inner-main .box4,
.content .inner-main .box5{
    margin: 5px;
    background:rgba(196, 196, 196, 0.6);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.content .inner-main .box1,
.content .inner-main .box3{
    position: relative;
    width: 375px;
    height: 300px;
}
.content .inner-main .box2{
    position:absolute;
    top: 0px;
    left: 390px;
    width: 375px;
    height: 300px;
}
.content .inner-main .box4{
    position:absolute;
    top: 330px;
    left: 390px;
    width: 375px;
    height: 300px;
}
.content .inner-main .box5{
    position: relative;
    width: 765px;
    height: 300px;
}
.content .main-side{
    position: absolute;
    left: 800px;
}
.content  .main-side .inner-event{
    width: 300px;
    height: auto;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.content .main-side .inner-notif{
    position: relative;
    width: 300px;
    height: 200px;
    background: rgba(196, 196, 196, 0.199);
    border-radius: 15px;
    padding-bottom: 20px;
}
.content .main-side .inner-event .group{
    margin: 10px;
}
.content .main-side .inner-event .group span{
   margin-left: 15px;
}
.content .main-side .inner-event input[type="text"]{
    padding:5px 3px;
	box-sizing:border-box;
	width:70px;
    height: 40px;
	outline:none;
	transition:all 0.2s ease;
	border:none;
	border-radius: 15px;
	background: rgba(196, 196, 196, 0.7);
	font-family: Poppins;
}
.content .main-side .inner-event .group :placeholder-shown{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
