.content{
    position: absolute;
    width: 1100px;
    height: 1500px;
    left: 240px;
    top: 75px;
    background: #E5E5E5;
	-webkit-border-radius:10px;
	border:none;
	box-sizing:border-box;
}
.title{
    position:relative;
    top:0%;
    text-align: center;
    background:rgba(196, 196, 196, 0.6);
    border-radius:5px;
    padding: 10px;
    font-weight: bold;
}
.content .inner-main{
    position: absolute;
    width: 785px;
    height: 1500px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 10px;
}
.content .inner-event{
    position: absolute;
    left: 800px;
    width: 300px;
    height: auto;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    padding-bottom: 20px;
}
#create{
    cursor: pointer;
	border:none;
	background: #800;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 31.5px;
    color:white;
    margin-top: 10px;
    margin-left: 70px;
    height: 35px;
    width: 150px;
    font-family: Poppins;
}
label{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
form{
    margin-left: 20px;
}
.content  input[type="text"],
.content [type="file"]{
    margin-left: 23px;
    margin-bottom: 10px;
    padding:5px 3px;
	box-sizing:border-box;
	width:260px;
	outline:none;
	transition:all 0.2s ease;
	border:none;
	-webkit-border-radius: 5px;
	background: whitesmoke;
	font-family: Poppins;
}
.file{
    margin-top: 20px;
}
.content textarea{
    margin-left: 23px;
    padding:5px 3px;
	box-sizing:border-box;
	width:260px;
    height: 200px;
	outline:none;
	transition:all 0.2s ease;
	border:none;
	-webkit-border-radius: 5px;
	background: whitesmoke;
	font-family: Poppins;
}
.inner3 input[type="time"]{
    
    margin-left: 60px;
    padding:5px 3px;
	box-sizing:border-box;
	width:150px;
	outline:none;
	transition:all 0.2s ease;
	border:none;
	-webkit-border-radius: 5px;
	background: whitesmoke;
	font-family: Poppins;
}
.content .btn_upload{
    cursor: pointer;
	border:none;
	background: #800;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 31.5px;
    margin-top: 10px;
    margin-left: 5px;
    height: 35px;
    width: 250px;
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.content .btn_upload:hover,
#create:hover{
    background:rgb(134, 125, 125);
    color:black;
}

.content .inner-content .file  .data{
    height: 0px;
    width: 0px;
    overflow: hidden;
    text-align: center;
}